#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(41, 47, 40, 0.678);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.submit-btn {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 300ms;
}
.submit-btn:hover {
  background-color: #646cff;
}
.input-box-space {
  margin: 0.7em auto;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  border: none;
  border-radius: 0.7em;
  background-color: #eeedb5;
}
.heading {
  font-size: 2em;
  margin: 1em 0;
  color: black;
}
.card {
  margin: 1em auto;
  max-width: 30em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #ccc;
  background-color: #0661d9;
}
.result{
  color: #ff00bb;
  font-size: medium;
  font-weight: 800;
}
.message{
  background-color: lightblue;
  border-radius: 5px;
  font-weight:600;
  padding: 7px;
}